doctype html
html
    include head.pug
    div(class='container text-center')
        h1 Game Server - Active Games
        hr
        div(class='accordion text-center bg-dark' id='accTeams')
            if (games.length > 0)
                table(class='table table-striped table-dark table-hover' style='color:antiquewhite')
                    th(scope='col') Team Name
                    th(scope='col') Maze
                    th(scope='col') Game Round
                    th(scope='col') Game State
                    th(scope='col') Game Result
                    th(scope='col') Move Count
                    th(scope='col') Data URL
                    each game in games
                        tr
                            td #{game.team.name}
                            td #{game.maze.seed} (#{game.maze.height} x #{game.maze.width})
                            td #{game.score.gameRound}
                            td 
                                if (game.state == 0)
                                    |New
                                else if (game.state == 1)
                                    |In Progress
                                else if (game.state == 2)
                                    |Finished
                                else if (game.state == 3)
                                    |Aborted
                                else if (game.state == 4)
                                    |Error
                                else
                                    |?
                            td 
                                if (game.score.gameResult == 0)
                                    |In Progress
                                else if (game.score.gameResult == 1)
                                    |Out of Moves
                                else if (game.score.gameResult == 2)
                                    |Out of Time
                                else if (game.score.gameResult == 3)
                                    |Died to Trap
                                else if (game.score.gameResult == 4)
                                    |Died to Poison
                                else if (game.score.gameResult == 5)
                                    |Died in Lava
                                else if (game.score.gameResult == 6)
                                    |Win
                                else if (game.score.gameResult == 7)
                                    |Abandoned
                                else
                                    |?
                            td #{game.score.moveCount}
                            td
                                a(href= extUrl + '/game/' + game.id) Game Data
            else
                h3(style='background-color:#111111') No games currently available.

